<!-- THE MHONARC RESOURCE FILE -->
<!-- http://www.mhonarc.org/MHonArc/doc/resources/rcfile.html -->
<!-- vars at http://www.mhonarc.org/MHonArc/doc/resources.html -->
    
<IDXPGBEGIN>
<?xml version="1.0"?>
<rss version="2.0">
<channel>
	<title>{{title}}</title>
	<link>{{link}}</link>
	<description>{{description}}</description>
</IDXPGBEGIN>

<IDXPGSSMARKUP>
</IDXPGSSMARKUP>

<LISTBEGIN>
<!-- ListBegin Gone -->
</LISTBEGIN>

<LIBEG>
<!-- LiBeg Gone -->
</LIBEG>

<LIBEG>
<!-- LiBeg Gone -->
</LIBEG>

<LiTemplate>
	<item>
		<title>$SUBJECTNA$</title>
		<link>{{baseurl}}msg$MSGNUM$.html</link>
		<author>$FROM$</author>
		<pubDate>$MSGGMTDATE$</pubDate>
		<guid>$MSGNUM$</guid>
	</item>
</LiTemplate>

<LISTEND>
<!-- ListEnd Gone -->
</LISTEND>

<LIEND>
<!-- LiEnd Gone -->
</LIEND>

<IDXPGEND>
</channel>
</rss>
</IDXPGEND>


<FieldsBeg>
<dl id="phonarc-fields">
</FieldsBeg>
<LabelStyles>
	-default-:dt
</LabelStyles>
<FieldStyles>
-default-:dd
</FieldStyles>
<FieldsEnd>
</dl>
</FieldsEnd>

<LabelBeg>

</LabelBeg>
<LabelEnd>

</LabelEnd>
<FldBeg>

</FldBeg>
<FldEnd>

</FldEnd>


<NODOC>